# <center> Контрольное задание

In [1]:
import pandas as pd
import numpy as np

#### Task 1. 
Задание:

1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] (воспользуйтесь функцией linspace)
2. Определите отношение элементов полученной серии к их предыдущим элементам (\*). 
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5 (\**). 

Выберите из ответов тот, который максимально близок к полученному (c точки зрения абсолютной разницы).

#### Варианты ответов:
    - 1) 1.24
    - 2) 1.18 
    - 3) 0.71
    - 4) 1.13


##### Пояснения:
(\*) Если было бы необходимо найти последовательность из 3-х значений,  
равномерно разбивающих отрезок [0,1], то это были бы значения [0, 0.5, 1]. 

(\**) Если был бы дан список элементов a = [1,2,3,12], отношения элементов к предыдущим будут равны [NaN, 2, 1.5, 4].  
А на последнем этапе в таком примере останется только [1.5] и среднее значение будет также 1.5.

In [3]:
### Type your code here
s = pd.Series(np.linspace(0, 20, 15))

arr = [s[i + 2] / s[i + 1] for i in range(13)]

arr_new = [i for i in arr if i <= 1.5]

sum = 0
for i in arr_new:
    sum += i
print("Ответ", sum / len(arr_new))
print('Правильный ответ 2')

Ответ 1.181677812927813
Правильный ответ 2

### Task 2. 
Выберите все верные ответы касательно следующих 3-х Series:
- pd.Series('abcde'); (1) 
- pd.Series(['abcde']); (2) 
- pd.Series(list('abcde')); (3)
- pd.Series("abcde"); (4)
    
##### Пояснения:
- функция list: в строке каждый символ - это отдельный элемент для list
- квадратные скобки: в квадратных скобках списку передается множество элементов по отдельности через запятую


#### Вопросы:
    - 1) Серия (1) совпадает с серией (2), так как в каждом из случаев серия создаётся из списка строк
    - 2) Серия (2) совпадает с серией (3), так как в каждом из случаев серия создаётся из списка символов 
    - 3) Серия (1) не совпадает с серией (4), так как в (4) используются двойные кавычки "" вместо одинарных ''

In [4]:
# Создание серии с одинарными кавычками
series_1 = pd.Series('abcde')

# Создание серии из списка строк
series_2 = pd.Series(['abcde'])

# Создание серии из списка символов
series_3 = pd.Series(list('abcde'))

# Создание серии с двойными кавычками
series_4 = pd.Series("abcde")

# Вывод серий
print("1. Серия с одинарными кавычками:")
print(series_1)

print("\n2. Создание серии из списка строк:")
print(series_2)

print("\n3. Создание серии из списка символов:")
print(series_3)

print("\n4. Создание серии с двойными кавычками:")
print(series_4)

1. Серия с одинарными кавычками:
0    abcde
dtype: object

2. Создание серии из списка строк:
0    abcde
dtype: object

3. Создание серии из списка символов:
0    a
1    b
2    c
3    d
4    e
dtype: object

4. Создание серии с двойными кавычками:
0    abcde
dtype: object

Правильного ответа нет.

#### Task 3. 

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям. 

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12. 
2. Выберите из новой серии элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат (1). 
3. Выберите из s только целочисленные элементы и вычислите их дисперсию (2). (\*)

Все полученные результаты округлите до 2-х знаков после запятой.

#### Выберите все верные пункты:
    - 1) Ответ (1) - 642.52
    - 2) Ответ (1) - 91.78
    - 3) Ответ (1) - не может быть определён (укажите причину)
    - 4) Ответ (2) - 57591.19
    - 5) Ответ (2) - 210.12
    - 6) Ответ (2) - не может быть определён

##### Пояснения:
(\*) Целочисленные значения - значения, имеющие тип int.
- Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=0)

In [5]:
s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
              index=range(6, 26, 2))
# Создаем новый Series с индексами от 2 до 11 (не включая 12)
new_s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
                  index=range(2, 12))

print(new_s)
# Выбираем элементы с int
selected_elements = [i for i in new_s if isinstance(i, int)]

variance = np.var(selected_elements)

variance

2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object

57591.1875

#### Task 4. 
1. Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза. 
3. Ответьте на следующие вопросы через запятую (без пробелов) (\*)
    - 1) Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса. 
    - 2) Выведите количество значений серии меньше нуля.

#### Пояснения:
(\*) Если получились ответы 4.32 и 3, то необходимо вывести их в виде "4.32 , 3". То есть вещественные числа необходимо разделять точками. Не забудьте про фиксированный seed (его менять не нужно)!
 - Определенное значение seed нужно, чтобы ответы у всех выполняющих
это задание были одинаковые и их можно было проверить (так как генерируются
одинаковые series).
 - Следует внимательнее использовать [ ] для выбора данных по нескольким условиям:
либо выбирать данные последовательно, либо сразу по нескольким условиям,
но через оператор &. Отличие оператора and от оператора &: and - выводит
последнее проверенное значение, & - выводит пересечение значений.
Пример: s[ _  &  _ ].sum()

In [10]:
np.random.seed(242)
data = np.random.normal(size=100)
series = pd.Series(data)
series_cubed = series ** 3
new_index = series.index * 3
# Обновление индекса в серии
series_cubed.index = new_index
# Задача 1
sum_of_values = series[(series.index % 2 != 0) & (series < 2.6)].sum()
# Задача 2
count_negative_values = (series < 0).sum()

print(f"{sum_of_values:.2f}, {count_negative_values}")

1.38, 51

### Информация для последующих заданий
- Для всех последующих заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные tr_mcc_codes, tr_types, transactions и gender_train из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [6]:
### Type your code here

## Описание данных
### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

#### Task 5.
1. В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".

In [15]:
df = pd.read_csv('data/tr_types.csv', sep=';')
# Рандом 100 строк с сидом 242
sample_100 = df.sample(100, random_state=242)
# Перевод в нижний и сравнение с плата
contains_plata = sample_100['tr_description'].str.lower().str.contains('плата')
fraction_with_plata = contains_plata.mean()
print(fraction_with_plata)

0.26

#### Task 6. 
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

#### Выберите все верные пункты:
    - 1) Выдача наличных в АТМ Сбербанк России +
    - 2) Комиссия за обслуживание ссудного счета
    - 3) Списание по требованию	
    - 4) Оплата услуги. Банкоматы СБ РФ +
    - 5) Погашение кредита (в пределах одного филиала)
    - 6) Покупка. POS ТУ СБ РФ +

In [8]:
transactions = pd.read_csv('data/transactions.csv', sep=',')
tr_types = pd.read_csv('data/tr_types.csv', sep=';')

# Объединяем по полю tr tyep
merged_data = transactions.merge(tr_types, left_on='tr_type', right_on='tr_type')

# Подсчитываем частоту встречаемости каждой транзакции
transaction_counts = merged_data['tr_description'].value_counts()
print(transaction_counts.head(5))
print('Ответ : 1, 4, 6')

tr_description
Покупка. POS ТУ СБ РФ                                                                    1589734
Выдача наличных в АТМ Сбербанк России                                                    1040713
Оплата услуги. Банкоматы СБ РФ                                                            970994
Покупка. POS ТУ Россия                                                                    928154
Перевод на карту (с карты) через Мобильный банк (без взимания комиссии с отправителя)     691896
Name: count, dtype: int64
Ответ : 1, 4, 6

#### Task 7.
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)
3. Найдите у него наиболее часто встречающийся модуль суммы приходов/расходов. (\**)


#### Выберите все верные пункты:
    - 1) 1122957.89
    - 2) 15721.41
    - 3) 22459.16
    - 4) 13475494.63
    - 5) 107407.78
    - 6) 65019.26

##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>
(\**) Если у клиента были транзакции [-10000, 10, 0, -10], то наиболее встречающийся модуль суммы транзакций равен 10, и встретился он 2 раза.

In [16]:
# Считываем данные и меняем индекс
data = pd.read_csv('data/transactions.csv', sep=',')
data = data.set_index('customer_id')

max_amount = data['amount'].max()
max_amount_index = data[data['amount'] == max_amount].index[0]
print(f"Максимальная трата: {max_amount}\nУ клиента: {max_amount_index}")

# Создаем список со всеми тратами, по модулю
arr_module = data.loc[max_amount_index]['amount'].abs().tolist()

# Создаем словарь с "сумма - количество раз"
from collections import Counter

count_dict = Counter(arr_module)

# Находим ключ с наибольшим значением в словаре
key_with_max_value = max(count_dict, key=lambda k: count_dict[k])

# Выводим ключ и его значение
print("Трата с наибольшем количеством появлений:", key_with_max_value)
print("Количество появлений:", count_dict[key_with_max_value])
print('Ответ 3')

Максимальная трата: 145984525.17
У клиента: 26782922
Трата с наибольшем количеством появлений: 22459.16
Количество появлений: 25
Ответ 3

[(22459.16, 25),
 (15721.41, 12),
 (4491831.54, 7),
 (1122957.89, 6),
 (2245915.77, 5)]

#### Task 8.
1. Найдите максимальную разницу между медианами суммы транзакций, посчитанными при заданных ниже условиях по полю amount из таблицы transactions (\*):
    - Медиана суммы транзакций
    - Медиана суммы транзакций по тем строкам, которые ни в одном из своих столбцов не содержат пустые значения
    - Медиана суммы транзакций по строкам, отсортированным по полю amount в порядке возрастания, и из которых удалены дублирующиеся по столбцам [mcc_code, tr_type] строки, причём при удалении соответстующих дублей остаются только последние из дублирующихся строк (keep='last')

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Для вычисления максимальной разницы между значениями списка можно использовать функцию np.ptp  
(\**) Если в результате получились значения [1,3,5], то макимальная разница между ними 4 == 5-1.

In [4]:
transactions = pd.read_csv('data/transactions.csv', sep=',')



# Вычисление медиан для трех условий
median_total = transactions['amount'].median()
median_no_missing = transactions['amount'].dropna().median()

sorted_unique_rows = transactions.sort_values(by='amount', ascending=True).drop_duplicates(
    subset=['mcc_code', 'tr_type'], keep='last')
median_sorted_unique = sorted_unique_rows['amount'].median()

# Вычисление максимальной разницы между медианами
max_median_difference = np.ptp([median_total, median_no_missing, median_sorted_unique])

print(f"Медиана суммы транзакций: {median_total:.2f}")
print(f"Медиана суммы транзакций без пропущенных значений: {median_no_missing:.2f}")
print(f"Медиана суммы транзакций для уникальных строк: {median_sorted_unique:.2f}")
print(f"Максимальная разница между медианами: {max_median_difference:.2f}")

Медиана суммы транзакций: -5480.03
Медиана суммы транзакций без пропущенных значений: -5480.03
Медиана суммы транзакций для уникальных строк: -113.42
Максимальная разница между медианами: 5366.61